<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/16392d82-9d34-4e64-9e6d-f73416c547cc/resourceGroups/Learning/providers/Microsoft.Web/sites/FlyingDutchmanAirlines20220325103935</ResourceId>
    <ResourceGroup>Learning</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://flyingdutchmanairlines20220325103935.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>317c4996-f435-425e-aadd-72d76aa866ed</ProjectGuid>
    <PublishUrl>https://flyingdutchmanairlines20220325103935.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FlyingDutchmanAirlines20220325103935</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>